.topright.gray {
	background-image: url('gray.gif');
}
.topright.blue {
	background-image: url('blue.gif');
}
.topright.cyan {
	background-image: url('cyan.gif');
}
.topright.green {
	background-image: url('green.gif');
}
.topright.magenta {
	background-image: url('magenta.gif');
}
.topright.red {
	background-image: url('red.gif');
}
.topright.yellow {
	background-image: url('yellow.gif');
}
