.bottomright.gray {
	background-image: url('gray.gif');
}
.bottomright.blue {
	background-image: url('blue.gif');
}
.bottomright.cyan {
	background-image: url('cyan.gif');
}
.bottomright.green {
	background-image: url('green.gif');
}
.bottomright.magenta {
	background-image: url('magenta.gif');
}
.bottomright.red {
	background-image: url('red.gif');
}
.bottomright.yellow {
	background-image: url('yellow.gif');
}
