.bottomleft.gray {
	background-image: url('gray.gif');
}
.bottomleft.blue {
	background-image: url('blue.gif');
}
.bottomleft.cyan {
	background-image: url('cyan.gif');
}
.bottomleft.green {
	background-image: url('green.gif');
}
.bottomleft.magenta {
	background-image: url('magenta.gif');
}
.bottomleft.red {
	background-image: url('red.gif');
}
.bottomleft.yellow {
	background-image: url('yellow.gif');
}
